# Puedes usar los valores de plantilla o usar los tuyos / You can use de placeholder values or use your own

# Determina puerto para app / Choose port for app
# Nota: cuidado con poner espacios entre el signo de igual, puede causar problemas con el contenedor
# Note: be careful adding spaces on the sides of equal sign, this could trigger container issues
PORT=5001
# Usuario de PostgreSQL / PostgreSQL user
DB_USER=postgres
# Host de la base de datos / Database host
DB_HOST=localhost
# Nombre de la base de datos / Database name
DB_NAME=express-crud
# Puerto de PostgreSQL / PostgreSQL port
DB_PORT=5431
# Contraseña de PostgreSQL / PostgreSQL password
DB_PASSWORD=a1n111%
# Secreto para firmar JWT tokens / Secret for signing JWT tokens
JWT_SECRET=iO%B&N/nj'1ghD!=1%g111tSD11R11&F$%1